@using OdeToCoffee.Model.Entities
@model OdeToCoffee.Model.Entities.Coffeehouse

@{
    ViewBag.Title = "Show the details of coffehouse";
}

<h1>@Model.Name</h1>
<h2>@Model.Id</h2>
<h2>Style: @Model.Style</h2>

<div>...details...</div>

@Html.ActionLink("Go back", "Index", "Home")