@model OdeToCoffee.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "OdeToCoffee - Index page";
}

<h1>Home page</h1>
<br />

<div>
    <h3>Kawiarnie: </h3>

    <table>
        @foreach (var coffeehouse in Model.Coffeehouses)
            {
            <tr>
                <td>
                    <a href="/home/details/@coffeehouse.Id">Details</a>
                </td>
                <td>@coffeehouse.Name</td>
            </tr>
        }
    </table>
</div>

@section footer
{
    <h3>@Model.MessageOfTheDay</h3>
}
