@using OdeToCoffee.Models
@model OdeToCoffee.ViewModels.HomePageViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Ode to coffee</title>
</head>
<body>
<div>
    <h1>Home page</h1>
    <br/>
    <h2>@Model.MessageOfTheDay</h2>
    
    <div>
        <h3>Kawiarnie: </h3>
        
        <table>
            @foreach (var coffeehouse in Model.Coffeehouses)
            {
                <tr>
                    <td>
                        <a href="/home/details/@coffeehouse.Id">Details</a>
                    </td>
                    <td>@coffeehouse.Name</td>
                </tr>
            }  
        </table>
    </div>
</div>
</body>
</html>