@model OdeToCoffee.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "OdeToCoffee - Index page";
}

<h1>Home page</h1>
<br />

<div>
    <h3>Kawiarnie: </h3>
    
    @foreach (var coffeehouse in Model.Coffeehouses)
    {
        @Html.Partial("_Summary", coffeehouse)
    }
</div>

<br/>

<div>
    <a asp-action="Create">Create</a>
</div>

@section footer
{
    <h3>@Model.MessageOfTheDay</h3>
}
