@if (User.Identity.IsAuthenticated)
{
    <div>
        <span>Hello, @User.Identity.Name</span>
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input class="btn btn-default" type="submit" value="Logout"/>
        </form>
    </div>
}
else
{
    <div>
        <span>Annonymous</span>
        <a class="btn btn-default" asp-controller="Account" asp-action="Register">Register</a>
        <a class="btn btn-default" asp-controller="Account" asp-action="Login">Login</a>
    </div>
}